<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Slick Carousel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sunbee/sunbee.github.io/Ashtavakra/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sunbee/sunbee.github.io/Ashtavakra/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sunbee/sunbee.github.io/Ashtavakra/flip.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/sunbee/sunbee.github.io/Ashtavakra/gamify.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div class="classy-wrapper">
        <h2>Test Your Knowledge of Narada Bhakti Sutras</h2>
        <div class="classy">
            {% block quizzes %}{% endblock %}
        </div>
        <div id="Content"><p>Explanation</p></div>    
    </div>
    <br>
    <!--
        Use the jsdelivr.net CDN service to deliver files (JS/CSS) hosted on github.
        Append the URL htttps://cdn.jsdelivr.net/gh to the github uid and repo with path to file,
        like so: https://cdn.jsdelivr.net/gh/{uid}/{repo}/path/to/file.js on main branch.
        Avoid having code (JS/CSS) and resources as files on disk in project folder. 
    -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/sunbee/sunbee.github.io/Ashtavakra/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.classy').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                arrows: true,
                dots: true,
                centerMode: true,
            });
        });
    </script>
</body>
</html>